In [1]:
x = 1
x

1

In [18]:
y = 2.6
y

2.6

In [42]:
y = 2
y
z = 9

In [11]:
x + y * 9

19

In [7]:
name = "name of a person"
name

'name of a person'

In [8]:
Y

NameError: name 'Y' is not defined

In [9]:
y

2

In [45]:
naMe

NameError: name 'naMe' is not defined

In [11]:
name

'name of a person'

In [49]:
print (x + y * 9)
print (x * y - 4)

19
-2

In [56]:
def add_numbers(x,y,z):
    return x + y + z
add_numbers(x,y,z)

12

In [29]:
add_numbers(123123,4432,1)

127556

In [51]:
def max(x,y):
    return x,y

In [40]:
add_numbers(123212,5345)

128557

In [22]:
add_numbers(3,6)

9

In [24]:
print(2+2)
print(4+7)
print(8+9)

4
11
17

In [26]:
add_numbers(1000,78)

1078

In [28]:
add_numbers(2234,21)

2255

In [29]:
add_numbers(123212,5345)

128557

In [32]:
add_numbers(123123,4432)

545681136

In [ ]:
# IF-ELSE STATEMENT

In [22]:
a = int(input("give a number: "))
if(a > 7):
    print("a is greater than seven")
else:
    print("a is less than seven")

give a number: 2345
a is greater than seven

In [39]:
# PYTHON PROGRAMMING DATA TYPES
# 1. STRINGS
# 2. INTEGERS
# 3. noneTYPE
# 4. FLOATS

In [40]:
type('This is a string')

str

In [41]:
type(None)

NoneType

In [42]:
type(34)

int

In [43]:
type(1.0)

float

In [44]:
type(add_numbers)

function

In [45]:
#DATA  COLLECTIONS IN PYTHON
# 1. TUPLES
# 2. LISTS
# 3. DICTIONARIES

In [12]:
#1. TUPLE
# They are immutable data structure. i.e they are unchangeable

a = (2, 'a', 5.0)
print(a)
a
type(a)

(2, 'a', 5.0)

tuple

In [51]:
#Slicing a Tuple
a[0]

2

In [13]:
print (a[0])
print (a[1])
print (a[2])

2
a
5.0

In [14]:
#immutable means unchangeable
a[2] = 'boy'

TypeError: 'tuple' object does not support item assignment

In [ ]:
#2. LISTS
# They are muttable(changeable) data structures, i.e. they are changeable
# Note: Indexing in Python always start from 0

In [10]:
x = [1, 'a', 2, 'b', 5.0]
x

[1, 'a', 2, 'b', 5.0]

In [7]:
x[1]

'a'

In [10]:
type(x)

list

In [16]:
x.append(3)
print(x)

[1, 'a', 2, 'b', 5.0, 3]

In [ ]:
# FOR LOOP
#  Aloop is just Iteration i.e. the sequence of the programming instruction going over a group of data and performing an operation

In [3]:
x = [1, 'a', 2, 'b', 5.0]
print(x)

[1, 'a', 2, 'b', 5.0]

In [17]:
for item in x:
    print(item)

1
a
2
b
5.0
3

In [22]:
y = [1, 3, 5, 6, 9]
print(y)

[1, 3, 5, 6, 9]

In [23]:
for i in y:
    print(i * 500)

500
1500
2500
3000
4500

In [24]:
#  Operations on a List
    [1,2] + [3,4]

[1, 2, 3, 4]

In [25]:
[1]*4

[1, 1, 1, 1]

In [2]:
# Slicing/Indexing in a list
print(x)

NameError: name 'x' is not defined

In [28]:
# First Character

In [8]:
print(x[0]) #First Character

NameError: name 'x' is not defined

In [10]:
# These are ranges
print(x[0:1]) #firat character, but we have explixilty set the end character
print(x[0:1]) #first character, but we have explicitly set the end charcter
print(x[0:2]) #first two characters
print(x[0:3]) #first three characters
print(x[-1]) #Last characters
print(x[-2]) #second last characters in the list

[1]
[1]
[1, 'a']
[1, 'a', 2]
5.0
b

In [14]:
# Slicing 
print(x[:2]) #This is a slice from the begining of the string and stopping before the 2nd element

[1, 'a']

In [ ]:
#STRING

In [14]:
y = 'This is astring'

In [15]:
print(y)

This is astring

In [17]:
print(y[0]) #first character
print(y[0:1]) #first character, but we have explicitly set the end charcter
print(y[0:6]) #first 6 characters

T
T
This i

In [19]:
firstname  = "Fasakin"
lastname = "Oluwaseyi"

print(firstname + lastname)

FasakinOluwaseyi

In [20]:
#inserting a soace between the (variables) names
print(firstname + " " + lastname)

Fasakin Oluwaseyi

In [21]:
#you can only concatenate strings with strings and not with floats
'strings' + 1.2

TypeError: can only concatenate str (not "float") to str

In [22]:
#converting integer to strings
str(1.2)

'1.2'

In [24]:
#we can now concatenate them
'string' + str(1.2)

'string1.2'

In [26]:
#Split returns a list of all the words in a string or a list split on a specific character

name = 'Fasakin Oluwaseyi Nigeria'
name.split(' ')

['Fasakin', 'Oluwaseyi', 'Nigeria']

In [27]:
name = 'Fasaknin Oluwasaeyi Nigeria'
firstname = name.split(' ')[0] #selects the first element of the list
lastname = name.split(' ')[-2] #selects the second to the kast element of the list
country = name.split(' ')[-1] #selects the last element of the list

print(firstname)
print(lastname)
print(country)

Fasaknin
Oluwasaeyi
Nigeria

In [ ]:
#DICTIONNARY 
A dictionary associates a key with its corrsponding Value
It is a key value data structure in python.

In [20]:
userDetails = {'name':'oluwaseyi', 'password':'pleasehash'}
userDetails

{'name': 'oluwaseyi', 'password': 'pleasehash'}

In [11]:
type(userDetails)

dict

In [12]:
userDetails.keys()

dict_keys(['name', 'password'])

In [13]:
userDetails.values()

dict_values(['oluwseyi', 'pleasehash'])

In [23]:
userDetails.items()

dict_items([('name', 'oluwaseyi'), ('password', 'pleasehash')])

In [21]:
userDetails['name']

'oluwaseyi'

In [22]:
userDetails['password']

'pleasehash'

In [ ]:
# We can Iterate over the values in the dictionaries

In [24]:
for i in userDetails.values():
    print(i)

oluwaseyi
pleasehash

In [ ]:
# We can Iterate over the keys in the dictionaries

In [27]:
for name in userDetails.keys():
    print(name)

name
password

In [30]:
for name, password in userDetails.items():
    print(name)
    print(password)

name
oluwaseyi
password
pleasehash

In [31]:
my_list = []
for number in range (0, 1000):
    if number % 2 == 0:
        my_list.append(number)
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]