
# Introduction to Python Programming

In [29]:
print("Hello World")

Hello World

In [1]:
x = 1
x

1

In [12]:
y = 2.6
y

2.6

In [24]:
y = 2
y

2

In [25]:
x + y * 9 #This calculation follows BODMAS

19

In [28]:
name =  "Name of a Person"
name

'Name of a Person'

Python is Case Sensitive

We use the print statement to print multiple expressions within a single cell. We use it to print multiple things

In [31]:
print(x+y*9)
print(x + y -4)

19
-1

The Python Programming Language

In [9]:
def add_numbers(x, y):
    return x + y

In [10]:
add_numbers(3, 6)

9

In [46]:
print(2+2)
print(4+7)
print(8+9)

4
11
17

In [47]:
add_numbers(4, 7)

11

In [48]:
#calling the add_numbers function and passing in values 1000 and 78
add_numbers(1000, 78)

1078

In [52]:
a = add_numbers(4, 6)
if (a > 7):
    print ("a is greater than seven")
else:
    print("a is less than seven")

a is greater than seven

Python Programming data types

In [1]:
type("This is a string")

str

In [3]:
type(None)

NoneType

In [4]:
type(20)

int

In [5]:
type(1.0) #any decimal value is a float data type

float

In [11]:
type(add_numbers)

function

Data Collection in Python

In [13]:
a = (2, 'a', 5.0)
a

(2, 'a', 5.0)

In [14]:
type(a)

tuple

In [ ]:
#Indexing of any data in Python starts from 0

In [15]:
a[0]

2

In [18]:
print(a[0])
print(a[1])
print(a[2])

2
a
5.0

In [19]:
a[2] = "boy"

TypeError: 'tuple' object does not support item assignment

# List

A list is a mutable data structure

In [3]:
x = [1, 'a', 2, 'b', 5.0]
type(x)

list

In [4]:
x

[1, 'a', 2, 'b', 5.0]

Use append to aplpend an object to a list

In [5]:
x.append(3)
print(x)

[1, 'a', 2, 'b', 5.0, 3]

In [6]:
type(x)

list

# For Loop: Python Programming

In [8]:
for item in x:
    print(item)

1
a
2
b
5.0
3

In [9]:
y = [1, 3, 5, 6, 9]
y

[1, 3, 5, 6, 9]

In [11]:
for i in y:
    print(i * x)

[1, 'a', 2, 'b', 5.0, 3]
[1, 'a', 2, 'b', 5.0, 3, 1, 'a', 2, 'b', 5.0, 3, 1, 'a', 2, 'b', 5.0, 3]
[1, 'a', 2, 'b', 5.0, 3, 1, 'a', 2, 'b', 5.0, 3, 1, 'a', 2, 'b', 5.0, 3, 1, 'a', 2, 'b', 5.0, 3, 1, 'a', 2, 'b', 5.0, 3]
[1, 'a', 2, 'b', 5.0, 3, 1, 'a', 2, 'b', 5.0, 3, 1, 'a', 2, 'b', 5.0, 3, 1, 'a', 2, 'b', 5.0, 3, 1, 'a', 2, 'b', 5.0, 3, 1, 'a', 2, 'b', 5.0, 3]
[1, 'a', 2, 'b', 5.0, 3, 1, 'a', 2, 'b', 5.0, 3, 1, 'a', 2, 'b', 5.0, 3, 1, 'a', 2, 'b', 5.0, 3, 1, 'a', 2, 'b', 5.0, 3, 1, 'a', 2, 'b', 5.0, 3, 1, 'a', 2, 'b', 5.0, 3, 1, 'a', 2, 'b', 5.0, 3, 1, 'a', 2, 'b', 5.0, 3]

In [12]:
for i in y:
    print(i * 2)

2
6
10
12
18

Operations on a List

In [13]:
[1, 2] + [3, 4] #adding a list woth another list

[1, 2, 3, 4]

In [14]:
[1] *4 #multipolying a list

[1, 1, 1, 1]

Slicing a List

In [19]:
print(x[0]) #first character
print(x[0:1]) #firat character, but we hace explicitly set the end character, which is the number before 1
print(x[0:2]) #first two characters
print(x[-1]) #last character in the list
print(x[-2]) #the second to the last character in the sheet

1
[1]
[1, 'a']
3
5.0

# String

In [21]:
x = 'this is a string'
x

'this is a string'

Slicing

In [23]:
print(x[0]) #first character
print(x[0:1]) #firat character, but we hace explicitly set the end character, which is the number before 1
print(x[0:6]) #first two characters

t
t
this i

Concatenating two strings

In [24]:
firstname = 'Fasakin'
lastname = 'Oluwaseyi'

print(firstname + lastname)

FasakinOluwaseyi

In [25]:
print(firstname + ' ' + lastname) #this includes space

Fasakin Oluwaseyi

In [27]:
string + 1.2 #you cannot concatenate an integer with a float data type

NameError: name 'string' is not defined

In [29]:
str(1.2) #this converts the output to a string

str

In [31]:
'string' + ' ' + str(1.2)

'string 1.2'

"Split" returns a list of all the words in a string or a list; split on a specific character

In [47]:
name = 'Fasakin Oluwaseyi Nigeria'
splitname = name.split(' ')
splitname

['Fasakin', 'Oluwaseyi', 'Nigeria']

In [42]:
name = 'Fasakin Oluwaseyi Nigeria'
firstname = name.split(' ')[0] #[0] selects the first element of the list
firstname

'Fasakin'